[submodule "back-gq-nest"]
	path = back/gq/nest
	url = git@github.com:rightsoftend/eh-gq-nest.git

[submodule "front-gq-react"]
	path = front/gq/react
	url = git@github.com:rightsoftend/eh-gq-react.git