[submodule "back/gq/nest"]
  path = back/gq/nest
  url = https://github.com/rightsoftend/eh-gq-nest.git
[submodule "front/gq/react"]
  path = front/gq/react
  url = https://github.com/rightsoftend/eh-gq-react.git
